div {
  background-color: #fff;
padding: 30px;
max-width: 300px;
margin: auto;
margin-top: 20px;
text-align:center;
border-radius: 5px;
box-shadow: 0 0 10px #ccc;
}
h1{
font-size: 24px;
}
.register-header{
display: flex;
}
a{
    color: #000;
}
p{
font-size: 12px;
color: #9C9C9C;
}
.form-input{
text-align: left;
}
label{
display: block;
}
input{
margin-bottom: 20px;
padding: 10px;
font-size: 16px;
outline: none;
border: 1px solid #ccc;
border-radius: 5px;
width: 280px;
transition: 0.3s;
}
